[submodule "clash-foss"]
	path = core/src/foss/golang/clash
	url = https://github.com/kirisame-meguru/mihomo
	branch = Meta
[submodule "clash-companion"]
	path = clash-companion
	url = https://github.com/Nemu-x/clash-companion.git
	branch = feat/clashctl-protocol-v1
